table
{
color:white;
border-radius:20px; 

}

#submit
{
background-color:red;
color:white;
height:36px;
width:85px;
border-radius:25px;
}

#Login
{
background-color:Black;
color:white;
height:36px;
width:85px;
border-radius:25px;
}

body
{
height:737px;
width:1527px;
background:linear-gradient(orange,white,green);
}